{{define "Edit"}}

{{template "_head"}}

{{template "_menu"}}
<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editing product</h1>
                <p class="lead">Fill the fields</p>
            </div>
        </div>
        <form method="PUT" action="update">
            <div style="display: none">
                <input type="text" name="id" value="{{.Id}}">
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" class="form-control" value="{{.Nome}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <input type="text" name="descricao" class="form-control" value="{{.Descricao}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="preco">Preço:</label>
                        <input type="number" name="preco" class="form-control" step="0.01" value="{{.Preco}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="quantidade">Quantidade:</label>
                        <input type="number" name="quantidade" class="form-control" value="{{.Quantidade}}">
                    </div>
                </div>
            </div>
            <button type="submit" value="salvar" class="btn btn-success">Salvar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
    </body>
    <style>
        .error-message {
            display: inline;
            background-color: #F08080;
            padding: 5px;
            border-radius: 8px;
        } 
    </style>
    <script>
        if({{.}}) {
            element = document.getElementById("error-message")
            element.style.display = "block"
        }
    </script>
</html>
</div>
</body>

</html>
{{end}}