{{define "New"}}

{{template "_head"}}

{{template "_menu"}}
<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">New product</h1>
                <p class="lead">Fill the details</p>
            </div>
        </div>
        <div id="error-message" style="display: none;">
            <h2 class="error-message">{{.}}</h2>
        </div>
        <form method="POST" action="insert">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" name="description" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" name="price" class="form-control" step="0.01">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" value="save" class="btn btn-success">Save</button>
            <a class="btn btn-info" href="/">Back</a>
        </form>
    </body>
    <style>
        .error-message {
            display: inline;
            background-color: #F08080;
            padding: 5px;
            border-radius: 8px;
        } 
    </style>
    <script>
        if({{.}}) {
            element = document.getElementById("error-message")
            element.style.display = "inline"
        }
    </script>
</html>
</div>
</body>

</html>
{{end}}